footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0 20px 0;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-around;

}

.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.footer-icons img{
  width: 20px;
  margin-bottom: 3px;
}

.footer-icons div {
  font-size: 10px;
  font-weight: bold;
}