footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0 20px 0;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-around;

}

.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border: none;
}

@keyframes icons-move {
  0%{
    transform: translateY(0px);
  }50%{
    transform: translateY(5px);
  }100%{
    transform: translateY(0px);
  }
}

.footer-icons img{
  width: 20px;
  margin-bottom: 8px;
}

.footer-icons:hover img{
  animation: 1s icons-move;
}

.footer-icons div {
  font-size: 10px;
  font-weight: bold;
}